In [1]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
# import seaborn as sns
# from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# from sklearn.tree import DecisionTreeClassifier
# from sklearn.svm import SVC

# from sklearn.ensemble import VotingClassifier
# from sklearn.linear_model import LogisticRegression
# from sklearn.naive_bayes import GaussianNB
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import GridSearchCV

from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.linear_model import Perceptron
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier
import xgboost as xgb

import matplotlib.pyplot as plt
%matplotlib inline

seed = 1142

In [3]:
df = pd.read_csv("data/data.csv")
df.shape

(100, 5)

In [4]:
df.drop(["gradeof software"],axis=1, inplace = True)
df.head().T

                                    0    1    2    3    4
education                           1    1    1    1    1
gender                              1    1    1    1    1
questionnaire score(EQ)           148  131  126  135  132
grade of questionnaire score(EQ)    5    4    3    4    4

In [5]:
df.rename(columns={"questionnaire score(EQ)":"EQ","grade of questionnaire score(EQ)":"target"}, inplace = True)
df.head().T

             0    1    2    3    4
education    1    1    1    1    1
gender       1    1    1    1    1
EQ         148  131  126  135  132
target       5    4    3    4    4

In [6]:
X = df.drop("target", axis = 1)
y = df["target"]

In [7]:
X.shape

(100, 3)

In [8]:
y.shape

(100,)

In [9]:
X.head()

   education  gender   EQ
0          1       1  148
1          1       1  131
2          1       1  126
3          1       1  135
4          1       1  132

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((75, 3), (75,), (25, 3), (25,))

____

In [11]:
# Ada Boosting Classifier
model=AdaBoostClassifier(n_estimators=200,random_state=0,learning_rate=0.1)
model.fit(X_train,y_train)
prediction10=model.predict(X_test)
print('The accuracy of the Adaboost is',accuracy_score(prediction10,y_test))

The accuracy of the Adaboost is 0.68

In [12]:
# Linear Support Vector Machine(linear-SVM)
model=svm.SVC(kernel='linear',C=0.1,gamma=0.1)
model.fit(X_train,y_train)
prediction2=model.predict(X_test)
print('Accuracy for linear SVM is',accuracy_score(prediction2,y_test))

Accuracy for linear SVM is 0.96

In [13]:
# kNN
model=KNeighborsClassifier(n_neighbors=8) 
model.fit(X_train,y_train)
prediction6=model.predict(X_test)
print('The accuracy of the KNN is',accuracy_score(prediction6,y_test))

The accuracy of the KNN is 0.96

In [14]:
# Gaussian Naive Bayes
model=GaussianNB()
model.fit(X_train,y_train)
prediction7=model.predict(X_test)
print('The accuracy of the NaiveBayes is',accuracy_score(prediction7,y_test))

The accuracy of the NaiveBayes is 0.92

In [15]:
# Random Forest
model=RandomForestClassifier(n_estimators=100)
model.fit(X_train,y_train)
prediction8=model.predict(X_test)
print('The accuracy of the Random Forests is',accuracy_score(prediction8,y_test))

The accuracy of the Random Forests is 0.8